@{
    ViewBag.Title = "Home Page";
}

<h4></h4>

<div class="jumbotron" style="background-color:gray">
    <h1 class="display-5" style="color:#fd9f3e;font:bold;font-family:Verdana ">
        Importação OFX
    </h1>
    <p class="lead" style="color:aliceblue;font:bold;font-family:Verdana ">Sistema de Importação de Arquivos de Extrato Bancário OFX</p>
    <hr class="my-4" />
</div>